*{
    --primary: #DB4444;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    font-weight: bold;
}
.font{
    font-size: 8px;
}
.font-1{
    font-size: 10px;
}